* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(167, 167, 167);
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~ CLIENTE NUEVO ~~~~~~~~~~~~~~~~~~~~~~~~~ */

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: aqua;
    width: 36%;
}

.InputNombreProducto {
    width: 16rem;
}

.inputPrecioProducto {
    width: 4rem;
}

#nombre {
    width: 20rem;
}

.btnAgregar {
    margin-bottom: 10px;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~ LISTA DE CLIENTES ~~~~~~~~~~~~~~~~~~~~~~~~~ */

#lista {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 36%;
    background-color: aquamarine;
    height: 392px;
    overflow: auto; /* Habilitar scroll si es necesario */
}

.tituloLista {
    margin: 10px;
}

.containerCliente {
    background-color: #888888;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 90%;
}

.containerCliente:hover {
    background-color: #5d5d5d;
}

.nombreCliente {
    flex-grow: 1;
    margin-right: 60px;
}

.containerBotones {
    display: flex;
    gap: 5px;
}

.btnEliminar, .btnVerDetalles {
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btnEliminar {
    background-color: #ff4d4d;
}

.btnEliminar:hover {
    background-color: #ad2b2b;
}

.btnVerDetalles {
    background-color: #007bff;
}

.btnVerDetalles:hover {
    background-color: #0056b3;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~ DETALLES DE CLIENTE ~~~~~~~~~~~~~~~~~~~~~~~~~ */

.pestania {
    display: none; /* Oculto por defecto */
    position: fixed; /* Posición fija */
    z-index: 1; /* Colocar delante de otros elementos */
    left: 0;
    top: 0;
    margin-left: 36rem;
    height: 100%;
    width: 100%;
}

.btnCerrar {
    color: #aaa;
    margin-left: 41rem;
    font-size: 34px;
    font-weight: bold;
}

.btnCerrar:hover,
.btnCerrar:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.containerDetalles {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    margin-top: 2rem;
    padding-top: 4px;
    border: 1px solid #888;
    height: 38rem;
    max-width: 44rem;
    border-radius: 10px;
}

#tituloDetalle {
    font-size: 18px;
}

#detalleContenido {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 500;
}

#detalleContenido mark {
    font-weight: 600;
    background-color: #ffeb3b;
    color: #000;
    padding: 0 5px;
    border-radius: 3px;
}

#detalleContenido ul {
    list-style-type: none;
    margin-top: 20px;
}

ul li {
    margin: 10px 0;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

ul li:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

ul li::before {
    content: '•';
    color: #0dff00; /* Color del punto */
    font-size: 20px;
    padding-right: 10px;
}




