* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(167, 167, 167);
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~ CLIENTE NUEVO ~~~~~~~~~~~~~~~~~~~~~~~~~ */

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: aqua;
    width: 36%;
}

.InputNombreProducto {
    width: 16rem;
}

.inputPrecioProducto {
    width: 4rem;
}

#nombre {
    width: 20rem;
}

.btnAgregar {
    margin-bottom: 10px;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~ LISTA DE CLIENTES ~~~~~~~~~~~~~~~~~~~~~~~~~ */

#lista {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 36%;
    background-color: aquamarine;
    height: 392px;
}

.tituloLista {
    margin: 10px;
}

.containerCliente {
    background-color: #888888;
    transition: background-color 0.3s ease; /* Efecto de transición para el fondo */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 90%;
}

.containerCliente:hover {
    background-color: #5d5d5d;
}

.nombreCliente {
    flex-grow: 1;
    margin-right: 60px; /* Espacio entre el nombre y los botones */
}

.containerBotones {
    display: flex;
    gap: 5px;
}

.btnEliminar, .btnVerDetalles {
    color: white; /* Texto blanco */
    border: none; /* Sin bordes */
    padding: 5px 10px; /* Espaciado interno */
    border-radius: 4px; /* Bordes redondeados */
    cursor: pointer; /* Cursor de puntero al pasar sobre el botón */
    transition: background-color 0.3s ease; /* Efecto de transición para el fondo */
}

.btnEliminar {
    background-color: #ff4d4d; /* Fondo rojo */
}

.btnEliminar:hover {
    background-color: #ad2b2b; /* Fondo más oscuro al pasar sobre el botón */
}

.btnVerDetalles {
    background-color: #007bff; /* Fondo azul */
}

.btnVerDetalles:hover {
    background-color: #0056b3; /* Fondo más oscuro al pasar sobre el botón */
}




